/*  Background */
/* Make sure whole page uses gradient */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  Main container */
.container {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Title */
h1 {
  color: #f5f215;
  margin-bottom: 20px;
}

/*  OTP display */
.otp {
  font-size: 28px;
  letter-spacing: 6px;
  margin: 20px 0;
  color: #764ba2;
  font-weight: bold;
}

/* 🎛 Input */
input {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  text-align: center;
  font-size: 16px;
}

/*  Button */
button {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

/*  Hover effect */
button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
